/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2014, 8:46:52 AM
    Author     : daniel
*/

.background {
    -fx-background-color: lightblue;
    -fx-background-image: url("../img/bg3.jpg");
    -fx-background-position: left bottom;
    //background-image: url(/resources/bg-green-table.jpg);
}

.player1Name {
    -fx-text-fill: red;
    -fx-font-size: 33px;
    
}

.player2Name{
    -fx-text-fill: blue;
    -fx-font-size: 33px;
}

.player3Name{
    -fx-text-fill: purple;
    -fx-font-size: 33px;
}

.player4Name{
    -fx-text-fill: yellow;
    -fx-font-size: 33px;
}

.heading{
    -fx-text-fill: red;
    -fx-font-size: 33px;
}

.red {
    -fx-text-fill: red;
    -fx-font-size: 33px;
    
}

.green{
    -fx-text-fill: green;
    -fx-font-size: 33px;
}

.blue{
    -fx-text-fill: blue;
    -fx-font-size: 33px;
}

.cpuLabel{
    -fx-text-fill: red;
    -fx-font-size: 80px;
}